body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgba(255,255,255,0.9), rgb(188, 111, 193));
    overflow: hidden;
    height: 100vh;
}

.bg-nav {
    background: blue;
}

.contain {
    padding: 0 10px;
    overflow-y: auto; /* Make the container scrollable */
}

.menu, .cart {
    height: calc(85vh - 50px); /* Adjust height and consider the height of the navbar */
}

.menu {
    overflow-y: scroll;
}

.sub-nav {
    padding: 10px;
    border: 0;
}

.type-buy {
    width: 100%;
}

.item-list {
    position: relative;
    height: calc(57vh - 50px); /* Adjust height and consider the height of the navbar */
    padding-right: 2%;
    overflow-y: scroll;
}

.quantity {
    width: 15%;
}

.card {
    cursor: pointer;
}

#logo-img {
    width: 20%;
}

#stocks-img {
    width: 5%;
    display: block;
    margin: 0 auto;
}

#buy-type {
    color: black;
    border-radius: 0;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    padding-left: 38%;
}

#money {
    width: 100%; /* Make the input field wider */
}

.remove-all {
    width: 100%;
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.dropdown-menu {
    border-radius: 0;
    background-color: blue;
}

.dropdown-item {
    color: white;
}

@media (max-width: 768px) {
    .menu, .cart {
        height: auto;
    }
    .sub-nav {
        text-align: center;
    }
}

h5, h6 {
    font-family: 'Arial', sans-serif;
}

.btn {
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}
