/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Set background color and font */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to top, rgba(255,255,255,0.9), rgba(200,200,200,1));
    height: 100%;
    overflow-y: scroll; /* Enable vertical scrolling */
}

/* Navbar styles */
.navbar {
    background: blue;
    padding: 10px;
    color: white;
}

.navbar-brand {
    font-size: 1.5rem;
}

/* Button styles */
.btn {
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #3498db;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.btn-outline-danger {
    color: #d9534f;
    border: 1px solid #d9534f;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
}

/* Card styles */
.card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: auto;
}

.card-body {
    padding: 20px;
}

/* Form styles */
.form-control {
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px; /* Increased font size */
}

/* Dropdown styles */
.dropdown-menu {
    border-radius: 5px;
    background-color: blue;
}

.dropdown-item {
    color: white;
}

/* Footer styles */
.footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
    
    .card img {
        width: 80%;
        height: auto;
    }

    .logo {
    width: 10%; /* Adjust the size as needed */
}

}
